<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link href="{{ css | default('https://cdn.jsdelivr.net/npm/handsontable-pro@5.0.0/dist/handsontable.full.min.css') }}" rel="stylesheet" media="screen">
    <style>
#hotArea {
  {% if width is defined %}
    width: {{ width }}px;
  {% endif %}

  {% if height is defined %}
    height: {{ height }}px;
  {% endif %}

  {% if width is defined or height is defined %}
  overflow: hidden;
  {% endif %}
}

.cell {
  word-break: break-word;
}
    </style>

    <title>{{ title }}</title>
  </head>
  <body>
    <div id="hotArea"></div>

    <script src="{{ js | default('https://cdn.jsdelivr.net/npm/handsontable-pro@5.0.0/dist/handsontable.full.min.js') }}"></script>

    <script>var data = {{ data|tojson }};</script>
    <script>var config = {{ config|default({})|tojson }};</script>
    <script>var maxColWidth = {{ maxColWidth|default('200') }};</script>
    <script>var columns = {{ columns|tojson }};</script>
    <script>
      var stringConstructor = "test".constructor;
      var arrayConstructor = [].constructor;
      var objectConstructor = {}.constructor;

      function whatIsIt(object) {
          if (object === null) {
              return "null";
          }
          else if (object === undefined) {
              return "undefined";
          }
          else if (object.constructor === stringConstructor) {
              return "String";
          }
          else if (object.constructor === arrayConstructor) {
              return "Array";
          }
          else if (object.constructor === objectConstructor) {
              return "Object";
          }
          else {
              return "don't know";
          }
      }
      
      (function(Handsontable){
        function customRenderer(hotInstance, td, row, column, prop, value, cellProperties) {
          let text;
          switch(whatIsIt(value)){
            case "Object":
              text = '<pre class="cell">' + JSON.stringify(value, null, 2) + '</pre>';
              break;
            case "Array":
              text = '<div class="cell">' + JSON.stringify(value) + '</div>';
              break;
            default:
              text = '<div class="cell">' + Handsontable.helper.stringify(value) + '</div>';
          }

          td.innerHTML = text;

          return td;
        }

        // Register an alias
        Handsontable.renderers.registerRenderer('jsonRenderer', customRenderer);

      })(Handsontable);
    </script>
    <script>
      var container = document.getElementById('hotArea');
      var actualConfig = {
        data: data,
        rowHeaders: true,
        colHeaders: true,
        columns: columns,
        manualColumnResize: true,
        manualRowResize: true,
        modifyColWidth: function(width, col){
          if(width > maxColWidth) return maxColWidth;
        }
      }
      Object.assign(actualConfig, config);
      actualConfig.colWidths = undefined;
    </script>

    <script id="generateHandsontable">
      var hot = new Handsontable(container, actualConfig);

      let colWidths = [];
      [...Array(hot.countCols()).keys()].map(i => {
          colWidths.push(hot.getColWidth(i));
      });

      switch(whatIsIt(config.colWidths)){
        case "Array":
          config.colWidths.forEach((item, index)=>{
            colWidths[index] = item;
          });
          break;
        case "Object":
          const colHeaders = hot.getColHeader();
          Object.keys(config.colWidths).forEach((item, index)=>{
            colWidths[colHeaders.indexOf(item)] = config.colWidths[item];
          });
          break;
        default:
      }

      hot.updateSettings({
          colWidths: colWidths
      });

      hot.updateSettings({
          modifyColWidth: ()=>{}
      });
    </script>
  </body>
</html>
